/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

h1{
  font-size: 15vh;
  justify-content: center;
  align-content: center;
  width: auto;
  height: 100vh;
  text-align: center;
  color: white;
  background-image: url(../images/apple-pie.jpg);
  background-size: cover;
}
p{
  margin: 5% 10%;
  font-size: 4.8vh;
  color: rgb(89, 89, 89);
}
.recipe{
  width: 100vh;
  margin: 0 25%;
}
hr{
  margin: 5% 10%;
}
h2{
  margin: 5% 10% 2% 10%;
  font-size: 4vh;
}
li{
  color: rgb(89, 89, 89);
  font-size: 3.8vh;
  margin-left: 12%;
  list-style: none;
}
ul > li::before{ 
  content: "- ";
}

.cooking{
  width: 80vh;
  margin: 5% 25% 0 25%;
}
ol {
  list-style-type: none; /* Elimina el punto */
  counter-reset: item;
}
ol li{
  margin-right: 10%;
}

ol li::before {
  counter-increment: item;
  content: counter(list-item) ") "; /* Añade un ') ' después del número */
}
